.calculadora {
    width: 150px;
}

.linha {
    display: flex;
}

button {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #d8d0e5;
    margin: 1px;
}

button:hover {
    color: white;
    background-color: #9c65cb;
}

button:active {
    color: white;
    background-color: #4b0f80;
    transform: translateY(1px);
}

.operador {
    color: #ffffff;
    background-color: #e38d7b;
}

.igual {
    color: white;
    background-color: #4374be;
}

.display {
    display: flex;
    justify-content: end;
    height: 30px;
    margin-right: 5px;
}