version: '3.8'

services:
    db:
      image: postgres:16
      container_name: fatecADS5
      restart: always
      ports:
        - 5432:5432
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: 123456
        POSTGRES_DB: fatecADS5
      volumes:
        - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: