.botao {
    color: white;
    font-size: large;
    width: 80px;
    height: 80px;
    background-color: #494949;
    border-radius: 50%;
    border: none;
}

.operador {
    background-color: #e78119;
}

.botao:active {
    transform: translateY(2px);
}