.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    width: 400px;
    height: 620px;
    background-color: #282828;
    border-radius: 10px;

}

.linha {
    padding: 10px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}