{{define "Index"}}

{{template "_head"}}

{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Nome}}</td>
                            <td>{{.Descricao}}</td>
                            <td>{{.Preco}}</td>
                            <td>{{.Quantidade}}</td>
                            <td><a href="edit?id={{.Id}}" class="btn btn-info">Editar</a></td>
                            <td><button onclick="onDelete('{{.Id}}')" class="btn btn-danger">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/new" class="btn btn-primary mb-2">Criar novo produto</a>
        </div>
    </div>
</body>

<script>
    function onDelete(id) {
        let resposta = confirm("Tem certeza que deseja deletar esse produto?")
        if (resposta) {
            window.location = "/delete?id=" + id
        }
    }
</script>
 
</html>
{{end}}