#app {
    text-align: center;
    margin: 0;
}

button {
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}