[v-cloak] {
    display: none;
}

body {
    font-family: "Comic Sans MS";
    background-color: #f5f5f5;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.pokemon-card {
    text-align: center;
}

.pokemon-card img {
    width: 160px;
    height: 160px;
}

.pokemon-name {
    font-weight: bold;
    margin: 10px;
}