.pokemonGrid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.pokemonCard:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemonName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-transform: capitalize;
    color: #1c1c1c;
}

.searchInput {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.searchInput:focus {
    outline: none;
    border-color: #bd1616;
}