<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokeDEX - Consumo de API</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <button @click="fetchPokemons">Chamar Pokemon</button>
    <input type="text">
    <div class="pokemon-container">
        <ul>
            <li v-for="pokemon in pokemons" :key="pokemon.id" :class="getTypeClass(pokemon.types[0].type.name)">
                <div class="pokemon-card">
                    <img :src="pokemon.sprites.front_default" alt="">
                    <p>{{pokemon.name}}</p>
                    <div v-if="pokemon.showDetails" class="details">
                        <p>{{pokemon.types[0].type.name}}</p>
                        <p>{{pokemon.weight}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
<script src="index.js"></script>